# **Polars**

In [1]:
import polars as pl

## Чтение из файла train.csv

In [2]:
df_polars = pl.read_csv("train.csv")

In [3]:
df_polars.head(10)

shape: (10, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath     ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li…              ┆   ┆           ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …         ┆ …       ┆ …     ┆ …        │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.     ┆ … ┆ 17463     ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J         ┆   ┆           ┆         ┆       ┆          │
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.  ┆ … ┆ 349909    ┆ 21.075  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard     ┆   ┆           ┆         ┆       ┆          │
│ 9           ┆ 1        ┆ 3      ┆ Johnson, Mrs.     ┆ … ┆ 347742    ┆ 11.1333 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Oscar W           ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Elisabeth…       ┆   ┆           ┆         ┆       ┆          │
│ 10          ┆ 1        ┆ 2      ┆ Nasser, Mrs.      ┆ … ┆ 237736    ┆ 30.0708 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Nicholas (Adele   ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ Ach…              ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Основная информация о датасете

In [4]:
df_polars.shape # Размер датасета

(891, 12)

In [5]:
df_polars.dtypes # Типы данных

[Int64,
 Int64,
 Int64,
 Utf8,
 Utf8,
 Float64,
 Int64,
 Int64,
 Utf8,
 Float64,
 Utf8,
 Utf8]

In [6]:
df_polars.estimated_size() # Объём данных в байтах

122102

In [7]:
df_polars.null_count() # Количество пропусков

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [8]:
df_polars.select(pl.mean("Sex")) # Средние значения пола

shape: (1, 1)
┌──────┐
│ Sex  │
│ ---  │
│ str  │
╞══════╡
│ null │
└──────┘

In [9]:
df_polars.select(pl.mean("Age")) # Средние значения возраста

shape: (1, 1)
┌───────────┐
│ Age       │
│ ---       │
│ f64       │
╞═══════════╡
│ 29.699118 │
└───────────┘

In [10]:
df_polars.select(pl.mean("Fare")) # Средние значения цены

shape: (1, 1)
┌───────────┐
│ Fare      │
│ ---       │
│ f64       │
╞═══════════╡
│ 32.204208 │
└───────────┘

## Количество пассажиров каждого класса

In [11]:
df_polars.group_by("Pclass").agg(pl.col("PassengerId").unique().count())

shape: (3, 2)
┌────────┬─────────────┐
│ Pclass ┆ PassengerId │
│ ---    ┆ ---         │
│ i64    ┆ u32         │
╞════════╪═════════════╡
│ 2      ┆ 184         │
│ 1      ┆ 216         │
│ 3      ┆ 491         │
└────────┴─────────────┘

## Количество выживших

> мужчин:

In [12]:
df_polars.filter((pl.col('Sex') == "male") & (pl.col('Survived') == 1)).sum()["Survived"]

shape: (1,)
Series: 'Survived' [i64]
[
	109
]

> женщин:

In [13]:
df_polars.filter((pl.col('Sex') == "female") & (pl.col('Survived') == 1)).sum()["Survived"]

shape: (1,)
Series: 'Survived' [i64]
[
	233
]

## Данные о пассажирах, возраст которых больше 44 лет

In [14]:
df_polars.filter(pl.col('Age') > 44)

shape: (115, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J        ┆   ┆            ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.   ┆ … ┆ 113783     ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth        ┆   ┆            ┆         ┆       ┆          │
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs.    ┆ … ┆ 248706     ┆ 16.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Mary D          ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Kingcome)        ┆   ┆            ┆         ┆       ┆          │
│ 34          ┆ 0        ┆ 2      ┆ Wheadon, Mr.     ┆ … ┆ C.A. 24579 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Edward H         ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 863         ┆ 1        ┆ 1      ┆ Swift, Mrs.      ┆ … ┆ 17466      ┆ 25.9292 ┆ D17   ┆ S        │
│             ┆          ┆        ┆ Frederick Joel   ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Marg…           ┆   ┆            ┆         ┆       ┆          │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith, Mrs.   ┆ … ┆ 11751      ┆ 52.5542 ┆ D35   ┆ S        │
│             ┆          ┆        ┆ Richard Leonard  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (…               ┆   ┆            ┆         ┆       ┆          │
│ 874         ┆ 0        ┆ 3      ┆ Vander Cruyssen, ┆ … ┆ 345765     ┆ 9.0     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mr. Victor       ┆   ┆            ┆         ┆       ┆          │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs.     ┆ … ┆ 11767      ┆ 83.1583 ┆ C50   ┆ C        │
│             ┆          ┆        ┆ Thomas Jr (Lily  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Ale…             ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

# **Ускорение работы с pandas**

In [15]:
import pandas as pd

## Чтение из файла train.csv

In [16]:
df_pandas = pd.read_csv("train.csv")

## Cредний возраст пассажиров и его стандартное отклонение (исп. bottleneck)

In [17]:
!pip install bottleneck
import bottleneck as bn

Collecting bottleneck
  Downloading Bottleneck-1.3.7-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (354 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 354.0/354.0 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from bottleneck) (1.25.2)
Installing collected packages: bottleneck
Successfully installed bottleneck-1.3.7

In [18]:
avg_age = bn.move_mean(df_pandas["Age"], window = 3)

In [19]:
avg_age # Средний возраст

array([        nan,         nan, 28.66666667, 33.        , 32.        ,
               nan,         nan,         nan, 27.66666667, 14.33333333,
       15.        , 25.33333333, 27.33333333, 39.        , 24.33333333,
       36.        , 23.66666667,         nan,         nan,         nan,
               nan,         nan, 28.        , 25.66666667, 17.        ,
       24.66666667,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
       45.33333333,         nan,         nan,         nan, 17.66666667,
       24.        , 27.        ,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, 15.33333333, 25.66666667, 33.        , 47.66666667,
               nan,         nan,         nan, 18.16666667, 14.83333333,
       12.66666667, 23.66666667, 35.        , 29.        ,         nan,
               nan,         nan,         nan, 21.66666667, 20.66666667,
       25.        , 24.66666667, 23.        , 21.        , 26.33333333,
       27.66666667,         nan,         nan,         nan,         nan,
       17.61      , 27.        ,         nan,         nan,         nan,
       26.        , 22.        ,         nan,         nan,         nan,
       25.33333333, 24.33333333, 31.66666667, 30.66666667, 43.66666667,
               nan,         nan,         nan, 42.66666667, 30.33333333,
       32.        ,         nan,         nan,         nan, 30.33333333,
       32.66666667, 28.66666667,         nan,         nan,         nan,
               nan,         nan, 27.83333333, 18.83333333, 19.66666667,
       19.33333333, 36.16666667, 40.16666667, 41.16666667, 18.33333333,
       15.66666667,         nan,         nan,         nan, 39.66666667,
       32.83333333,         nan,         nan,         nan,         nan,
               nan, 32.66666667, 33.33333333, 32.        , 33.66666667,
       25.66666667, 22.33333333, 26.33333333, 24.        , 25.66666667,
               nan,         nan,         nan, 21.66666667, 20.33333333,
       18.66666667, 21.33333333, 18.33333333, 24.16666667, 29.16666667,
       43.16666667, 38.33333333, 42.83333333, 39.33333333,         nan,
               nan,         nan, 32.33333333,         nan,         nan,
               nan,         nan, 36.66666667, 27.66666667, 14.66666667,
        9.        ,         nan,         nan,         nan,         nan,
               nan, 31.        , 22.        ,  8.66666667, 26.        ,
       31.66666667,         nan,         nan,         nan, 38.66666667,
               nan,         nan,         nan,         nan,  4.66666667,
               nan,         nan,         nan,         nan, 40.33333333,
       36.        , 29.        , 23.33333333, 13.66666667, 22.        ,
       35.        ,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan, 32.5       ,
       21.83333333, 17.33333333, 20.        , 24.66666667, 27.33333333,
       26.66666667, 33.        , 27.        , 29.        ,         nan,
               nan,         nan, 33.33333333, 33.66666667, 34.66666667,
       26.        , 24.33333333, 31.33333333,         nan,         nan,
               nan, 26.33333333, 20.5       , 19.16666667,         nan,
               nan,         nan, 41.        , 31.        , 29.33333333,
               nan,         nan,         nan, 23.66666667, 20.        ,
               nan,         nan,         nan,         nan, 27.        ,
       32.        , 33.        , 31.        , 28.66666667, 38.33333333,
               nan,         nan,         nan, 40.33333333, 44.33333333,
       33.33333333,         nan,         nan,         nan, 38.33333333,
               nan,         nan,         nan, 31.66666667,         nan,
               nan,         nan, 25.66666667, 33.        , 39.33333333,
               nan,         nan,         nan, 34.33333333,         nan,
               nan,         nan,         nan,         nan,         nan,
       35.66666667, 42.66666667, 36.33333333, 21.        ,         nan,
               nan,         nan, 28.33333333, 31.33333333, 28.66666667,
       30.        , 22.33333333, 27.        , 26.33333333, 28.        ,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan, 25.66666667,
       28.        , 24.        , 22.66666667, 24.        , 32.33333333,
       32.33333333, 31.        , 34.66666667, 36.33333333, 41.66666667,
       31.        , 29.66666667, 26.33333333, 26.33333333,         nan,
               nan,         nan, 44.33333333, 42.66666667, 27.66666667,
               nan,         nan,         nan, 33.16666667,         nan,
               nan,         nan,         nan, 38.33333333, 43.66666667,
       30.66666667, 23.66666667, 18.        , 25.66666667, 29.66666667,
       28.33333333, 33.33333333,         nan,         nan,         nan,
       22.66666667,         nan,         nan,         nan,         nan,
               nan,         nan, 29.33333333,         nan,         nan,
               nan,         nan, 38.        , 36.33333333,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, 22.33333333, 20.66666667, 19.66666667, 14.66666667,
               nan,         nan,         nan, 23.        , 22.        ,
       27.        , 20.66666667, 25.        , 22.66666667,         nan,
               nan,         nan, 18.33333333,         nan,         nan,
               nan, 24.66666667, 28.33333333, 24.        , 25.        ,
       23.        , 25.66666667, 33.        , 33.33333333, 32.33333333,
       30.        , 31.        , 28.66666667, 25.        , 23.        ,
       27.33333333, 35.        , 29.33333333, 25.        ,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, 27.33333333, 19.33333333,
               nan,         nan,         nan, 26.        , 25.        ,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan, 36.33333333,
       27.        , 28.33333333, 19.66666667, 36.33333333, 39.66666667,
       46.66666667, 32.        , 30.        , 24.33333333,         nan,
               nan,         nan, 17.        , 17.33333333, 30.33333333,
       31.        ,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan, 43.        , 43.        ,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, 31.33333333, 26.        ,
               nan,         nan,         nan, 28.33333333, 17.66666667,
       11.        ,         nan,         nan,         nan, 46.        ,
               nan,         nan,         nan, 41.        , 32.33333333,
               nan,         nan,         nan, 49.        , 49.        ,
               nan,         nan,         nan,         nan,         nan,
       22.        , 20.66666667,         nan,         nan,         nan,
       23.66666667, 22.33333333,         nan,         nan,         nan,
       27.66666667,         nan,         nan,         nan, 38.        ,
       41.66666667, 35.        ,         nan,         nan,         nan,
       32.66666667, 28.        ,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
       21.33333333,         nan,         nan,         nan,         nan,
               nan, 27.33333333, 27.33333333,         nan,         nan,
               nan, 22.33333333, 18.66666667, 17.33333333, 31.        ,
       48.66666667, 44.33333333,         nan,         nan,         nan,
       19.33333333, 17.33333333,         nan,         nan,         nan,
       35.33333333, 44.        ,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan, 24.        ,         nan,         nan,
               nan, 49.        , 50.33333333,         nan,         nan,
               nan, 23.        , 30.66666667,         nan,         nan,
               nan, 32.        , 39.33333333, 43.        ,         nan,
               nan,         nan, 41.66666667, 43.        ,         nan,
               nan,         nan, 44.66666667,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
       38.33333333, 33.66666667, 31.        , 26.33333333, 29.66666667,
       33.66666667,         nan,         nan,         nan,         nan,
               nan, 31.        , 28.        , 21.33333333, 18.66666667,
       19.        , 31.66666667, 29.66666667, 27.66666667, 20.66666667,
       34.33333333, 46.33333333, 46.33333333, 34.66666667,         nan,
               nan,         nan, 54.33333333,         nan,         nan,
               nan, 23.        , 30.33333333, 34.66666667,         nan,
               nan,         nan, 15.33333333,         nan,         nan,
               nan, 22.58333333, 41.        ,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan, 37.66666667,
       43.66666667, 49.33333333, 45.66666667, 41.        , 34.33333333,
       29.33333333, 25.66666667,         nan,         nan,         nan,
               nan,         nan, 47.        , 44.        ,         nan,
               nan,         nan, 20.16666667, 28.5       , 32.33333333,
               nan,         nan,         nan, 20.33333333, 31.33333333,
       33.        , 33.        , 19.33333333, 17.        , 17.33333333,
       21.33333333, 16.66666667,         nan,         nan,         nan,
       45.66666667, 52.        ,         nan,         nan,         nan,
       36.33333333, 31.66666667, 23.66666667, 26.        , 23.        ,
       30.        , 36.66666667, 42.        , 36.33333333,         nan,
               nan,         nan,         nan,         nan, 43.        ,
       33.33333333, 36.33333333, 28.        ,         nan,         nan,
               nan, 18.66666667, 19.        , 33.66666667, 37.        ,
       32.33333333, 25.66666667,         nan,         nan,         nan,
       26.33333333, 21.66666667,         nan,         nan,         nan,
       24.83333333, 33.16666667, 37.16666667,         nan,         nan,
               nan,         nan,         nan, 27.        , 25.33333333,
       41.66666667, 39.        , 38.66666667, 21.66666667, 26.66666667,
       18.        , 13.66666667, 14.33333333, 20.66666667, 34.66666667,
       23.89      , 25.55666667, 15.55666667, 26.66666667, 28.33333333,
               nan,         nan,         nan, 32.33333333, 24.        ,
       34.33333333,         nan,         nan,         nan,         nan,
               nan, 34.66666667, 43.        ,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, 24.33333333, 19.66666667,         nan,         nan,
               nan, 22.66666667, 17.        ,  9.        , 18.33333333,
               nan,         nan,         nan,         nan,         nan,
               nan, 37.66666667, 39.66666667, 36.66666667, 30.33333333,
       31.33333333, 31.66666667, 25.33333333, 14.14      , 12.80666667,
       19.47333333, 32.33333333, 29.33333333, 32.        , 30.        ,
       32.66666667, 32.66666667, 33.33333333, 26.66666667, 23.83333333,
               nan,         nan,         nan, 32.33333333, 28.        ,
       35.        , 29.66666667, 39.        , 30.66666667, 22.33333333,
               nan,         nan,         nan,         nan,         nan,
               nan, 25.94333333,         nan,         nan,         nan,
       26.66666667, 26.        ,         nan,         nan,         nan,
               nan,         nan, 22.        , 26.83333333, 27.16666667,
       31.16666667,         nan,         nan,         nan,         nan,
               nan,         nan, 29.        , 33.        , 23.        ,
       26.        , 35.66666667, 38.        , 40.        ,         nan,
               nan,         nan, 36.66666667,         nan,         nan,
               nan, 31.        , 33.33333333,         nan,         nan,
               nan, 25.66666667, 35.33333333, 42.33333333, 36.        ,
       30.        , 21.        , 18.        ,         nan,         nan,
               nan, 38.        , 26.66666667, 27.66666667, 25.        ,
       30.66666667, 30.33333333, 28.33333333,         nan,         nan,
               nan])

In [20]:
std_deviation = bn.nanstd(df_pandas["Age"], ddof=0)

In [21]:
std_deviation # Стандартное отклонение

14.516321150817317

## Увеличение стоимости билетов — Fare_new

In [22]:
np_arr = df_pandas.to_numpy()

> Стоимость в начале:

In [23]:
df_pandas[['Pclass', 'Fare']]

     Pclass     Fare
0         3   7.2500
1         1  71.2833
2         3   7.9250
3         1  53.1000
4         3   8.0500
..      ...      ...
886       2  13.0000
887       1  30.0000
888       3  23.4500
889       1  30.0000
890       3   7.7500

[891 rows x 2 columns]

> Увеличение в зависимости от класса каюты:

In [24]:
res = [row[9] * 1.3 if (row[2] == 1 or row[2] == 2) else row[9] * 1.1 for row in np_arr]

> Добавление нового столбца:

In [25]:
df_pandas.insert(10, 'Fare_new', res)

In [26]:
df_pandas[['Pclass', 'Fare', 'Fare_new']]

     Pclass     Fare  Fare_new
0         3   7.2500   7.97500
1         1  71.2833  92.66829
2         3   7.9250   8.71750
3         1  53.1000  69.03000
4         3   8.0500   8.85500
..      ...      ...       ...
886       2  13.0000  16.90000
887       1  30.0000  39.00000
888       3  23.4500  25.79500
889       1  30.0000  39.00000
890       3   7.7500   8.52500

[891 rows x 3 columns]

# **Оптимизация типов pandas**

## Чтение из файла Housing.csv

In [27]:
df_housing = pd.read_csv("Housing.csv")

In [28]:
df_housing

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

## Оптимальные с точки зрения потребления памяти данные

In [29]:
df_housing.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

> **price**, **area** — *int64*, оптимальный тип, т.к. числа большие и могут заметно отличаться;

> **bedrooms**, **bathrooms**, **stories**, **parking** — *int64*, неоптимальный тип, т.к. числа маленькие повторяются.

> Подходящий тип — *category*;

> **mainroad**, **guestroom**, **basement**, **hotwaterheating**, **airconditioning**, **prefarea** — *object*, неоптимальный тип, т.к. эти значения говорят не о количествах или признаках, а о наличии/отсутствии (True/False).

> Подходящий тип — *bool*.

> **furnishingstatus** — *object*, оптимальный тип, т.к. описывает признак и может иметь необычные значения различной длины.

## Изменение типов столбцов + сравнение по памяти

> ***int64*** → ***category***

In [33]:
df_housing[['bedrooms', 'bathrooms', 'stories', 'parking']].info(memory_usage=bool)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bedrooms   545 non-null    int64
 1   bathrooms  545 non-null    int64
 2   stories    545 non-null    int64
 3   parking    545 non-null    int64
dtypes: int64(4)
memory usage: 17.2 KB

In [34]:
df_housing[['bedrooms', 'bathrooms', 'stories', 'parking']].astype('category').info(memory_usage=bool)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bedrooms   545 non-null    category
 1   bathrooms  545 non-null    category
 2   stories    545 non-null    category
 3   parking    545 non-null    category
dtypes: category(4)
memory usage: 3.1 KB

> ***object*** → ***bool***

In [35]:
df_housing[['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']].info(memory_usage=bool)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mainroad         545 non-null    object
 1   guestroom        545 non-null    object
 2   basement         545 non-null    object
 3   hotwaterheating  545 non-null    object
 4   airconditioning  545 non-null    object
 5   prefarea         545 non-null    object
dtypes: object(6)
memory usage: 25.7+ KB

In [36]:
df_housing[['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']].astype('bool').info(memory_usage=bool)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mainroad         545 non-null    bool
 1   guestroom        545 non-null    bool
 2   basement         545 non-null    bool
 3   hotwaterheating  545 non-null    bool
 4   airconditioning  545 non-null    bool
 5   prefarea         545 non-null    bool
dtypes: bool(6)
memory usage: 3.3 KB