# **Polars**

In [58]:
import polars as pl

## Чтение из файла train.csv

In [59]:
df_polars = pl.read_csv("train.csv")

In [60]:
df_polars.head(10)

shape: (10, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath     ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li…              ┆   ┆           ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …         ┆ …       ┆ …     ┆ …        │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.     ┆ … ┆ 17463     ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J         ┆   ┆           ┆         ┆       ┆          │
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.  ┆ … ┆ 349909    ┆ 21.075  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard     ┆   ┆           ┆         ┆       ┆          │
│ 9           ┆ 1        ┆ 3      ┆ Johnson, Mrs.     ┆ … ┆ 347742    ┆ 11.1333 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Oscar W           ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Elisabeth…       ┆   ┆           ┆         ┆       ┆          │
│ 10          ┆ 1        ┆ 2      ┆ Nasser, Mrs.      ┆ … ┆ 237736    ┆ 30.0708 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Nicholas (Adele   ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ Ach…              ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Основная информация о датасете

In [61]:
df_polars.shape # Размер датасета

(891, 12)

In [62]:
df_polars.dtypes # Типы данных

[Int64,
 Int64,
 Int64,
 Utf8,
 Utf8,
 Float64,
 Int64,
 Int64,
 Utf8,
 Float64,
 Utf8,
 Utf8]

In [63]:
df_polars.estimated_size() # Объём данных в байтах

122102

In [64]:
df_polars.null_count() # Количество пропусков

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [65]:
df_polars.select(pl.mean("Sex")) # Средние значения пола

shape: (1, 1)
┌──────┐
│ Sex  │
│ ---  │
│ str  │
╞══════╡
│ null │
└──────┘

In [66]:
df_polars.select(pl.mean("Age")) # Средние значения возраста

shape: (1, 1)
┌───────────┐
│ Age       │
│ ---       │
│ f64       │
╞═══════════╡
│ 29.699118 │
└───────────┘

In [67]:
df_polars.select(pl.mean("Fare")) # Средние значения цены

shape: (1, 1)
┌───────────┐
│ Fare      │
│ ---       │
│ f64       │
╞═══════════╡
│ 32.204208 │
└───────────┘

## Количество пассажиров каждого класса

In [68]:
df_polars.group_by("Pclass").agg(pl.col("PassengerId").unique().count())

shape: (3, 2)
┌────────┬─────────────┐
│ Pclass ┆ PassengerId │
│ ---    ┆ ---         │
│ i64    ┆ u32         │
╞════════╪═════════════╡
│ 3      ┆ 491         │
│ 1      ┆ 216         │
│ 2      ┆ 184         │
└────────┴─────────────┘

## Количество выживших

> мужчин:

In [69]:
df_polars.filter((pl.col('Sex') == "male") & (pl.col('Survived') == 1)).sum()["Survived"]

shape: (1,)
Series: 'Survived' [i64]
[
	109
]

> женщин:

In [70]:
df_polars.filter((pl.col('Sex') == "female") & (pl.col('Survived') == 1)).sum()["Survived"]

shape: (1,)
Series: 'Survived' [i64]
[
	233
]

## Данные о пассажирах, возраст которых больше 44 лет

In [71]:
df_polars.filter(pl.col('Age') > 44)

shape: (115, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J        ┆   ┆            ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.   ┆ … ┆ 113783     ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth        ┆   ┆            ┆         ┆       ┆          │
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs.    ┆ … ┆ 248706     ┆ 16.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Mary D          ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Kingcome)        ┆   ┆            ┆         ┆       ┆          │
│ 34          ┆ 0        ┆ 2      ┆ Wheadon, Mr.     ┆ … ┆ C.A. 24579 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Edward H         ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 863         ┆ 1        ┆ 1      ┆ Swift, Mrs.      ┆ … ┆ 17466      ┆ 25.9292 ┆ D17   ┆ S        │
│             ┆          ┆        ┆ Frederick Joel   ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Marg…           ┆   ┆            ┆         ┆       ┆          │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith, Mrs.   ┆ … ┆ 11751      ┆ 52.5542 ┆ D35   ┆ S        │
│             ┆          ┆        ┆ Richard Leonard  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (…               ┆   ┆            ┆         ┆       ┆          │
│ 874         ┆ 0        ┆ 3      ┆ Vander Cruyssen, ┆ … ┆ 345765     ┆ 9.0     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mr. Victor       ┆   ┆            ┆         ┆       ┆          │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs.     ┆ … ┆ 11767      ┆ 83.1583 ┆ C50   ┆ C        │
│             ┆          ┆        ┆ Thomas Jr (Lily  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Ale…             ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

# **Ускорение работы с pandas**

In [72]:
import pandas as pd

## Чтение из файла train.csv

In [131]:
df_pandas = pd.read_csv("train.csv")

## Cредний возраст пассажиров и его стандартное отклонение (исп. bottleneck)

In [ ]:
!pip install bottleneck
import bottleneck as bn

In [83]:
avg_age = bn.move_mean(df_pandas["Age"], window = 3)

In [ ]:
avg_age # Средний возраст

In [85]:
std_deviation = bn.nanstd(df_pandas["Age"], ddof=0)

In [86]:
std_deviation # Стандартное отклонение

14.516321150817317

## Увеличение стоимости билетов — Fare_new

In [132]:
np_arr = df_pandas.to_numpy()

> Стоимость в начале:

In [133]:
df_pandas[['Pclass', 'Fare']]

     Pclass     Fare
0         3   7.2500
1         1  71.2833
2         3   7.9250
3         1  53.1000
4         3   8.0500
..      ...      ...
886       2  13.0000
887       1  30.0000
888       3  23.4500
889       1  30.0000
890       3   7.7500

[891 rows x 2 columns]

> Увеличение в зависимости от класса каюты:

In [134]:
res = [row[9] * 1.3 if (row[2] == 1 or row[2] == 2) else row[9] * 1.1 for row in np_arr]

> Добавление нового столбца:

In [135]:
df_pandas.insert(10, 'Fare_new', res)

In [136]:
df_pandas[['Pclass', 'Fare', 'Fare_new']]

     Pclass     Fare  Fare_new
0         3   7.2500   7.97500
1         1  71.2833  92.66829
2         3   7.9250   8.71750
3         1  53.1000  69.03000
4         3   8.0500   8.85500
..      ...      ...       ...
886       2  13.0000  16.90000
887       1  30.0000  39.00000
888       3  23.4500  25.79500
889       1  30.0000  39.00000
890       3   7.7500   8.52500

[891 rows x 3 columns]

# **Оптимизация типов pandas**

## Чтение из файла Housing.csv

In [138]:
df_housing = pd.read_csv("Housing.csv")

In [139]:
df_housing

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

## Оптимальные с точки зрения потребления памяти данные

In [140]:
df_housing.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

> **price**, **area** — *int64*, оптимальный тип, т.к. числа большие и могут заметно отличаться;

> **bedrooms**, **bathrooms**, **stories**, **parking** — *int64*, неоптимальный тип, т.к. числа маленькие повторяются.

> Подходящий тип — *category*;

> **mainroad**, **guestroom**, **basement**, **hotwaterheating**, **airconditioning**, **prefarea** — *object*, неоптимальный тип, т.к. эти значения говорят не о количествах или признаках, а о наличии/отсутствии (True/False).

> Подходящий тип — *bool*.

> **furnishingstatus** — *object*, оптимальный тип, т.к. описывает признак и может иметь необычные значения различной длины.

## Изменение типов столбцов + сравнение по памяти

> ***int64*** → ***category***

In [147]:
df_housing[['bedrooms', 'bathrooms', 'stories', 'parking']].memory_usage(deep=True)

Index         128
bedrooms     4360
bathrooms    4360
stories      4360
parking      4360
dtype: int64

In [150]:
df_housing[['bedrooms', 'bathrooms', 'stories', 'parking']].astype('category').memory_usage(deep=True)

Index        128
bedrooms     765
bathrooms    749
stories      749
parking      749
dtype: int64

> ***object*** → ***bool***

In [151]:
df_housing[['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']].memory_usage(deep=True)

Index                128
mainroad           32623
guestroom          32252
basement           32346
hotwaterheating    32180
airconditioning    32327
prefarea           32283
dtype: int64

In [152]:
df_housing[['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']].astype('bool').memory_usage(deep=True)

Index              128
mainroad           545
guestroom          545
basement           545
hotwaterheating    545
airconditioning    545
prefarea           545
dtype: int64